{% extends "base.html" %}

{% block content %}
  <section>
    <div class="center">
      <div class="landing">
      
      <h3 class="title">申请提交成功！</h3>
      <div class="cont">
        <div class="desc">
          邮件已经发送到邮箱，请在6小时内登录邮箱点击链接
        </div>
        <div class="split"></div>
        <div class="email_rel">
          <h3>没有收到邮件怎么办？</h3>
          <ul>
            <li><i></i>尝试在广告邮件、垃圾邮件目录下查找</li>
            <li><i></i>找不到可以 <a class="u-a" href="/confirm">重新发送</a></li>
            <li><i></i>如一直收不到，请更换邮箱，<a class="u-a" href="/register">重新注册</a></li>
          </ul>
        </div>
      </div>
      <div class="split"></div>
      <h3>已确认？</h3>
      <p class="confirmed"><a href="{{ url_for_security('login') }}">立即登录</a></p>
      
      </div>
    </div>
  </section>
{% endblock %}
