[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-security = "*"
"dogpile.cache" = "*"
walrus = "*"


[dev-packages]

pylint = "*"
black = "*"
