{% macro card(post) %}
{% set author = post.author %}
  <div class="post detail">
    <div class="btn-group-vertical upvote">
      <a id="like-button-{{ post.id }}" class="btn btn-default btn-xs like-button" title="" data-remote="true" rel="nofollow" data-method="post" href="/likes/post/{{ post.id }}" data-original-title="点赞">
        <i class="iconfont toutiao-zan"></i> <span>8</span>
      </a>

      <a id="favorite-button-{{ post.id }}" class="btn btn-default btn-xs favorite-button" title="" data-remote="true" rel="nofollow" data-method="post" href="/favorites/post/{{ post.id }}" data-original-title="收藏">
        <i class="iconfont toutiao-shoucang"></i>
      </a>
    </div>

    <div class="content">
      <h3 class="title">
        <a target="_blank" rel="external" title="{{ post.title }} - 开发者头条" href="{{ post.orig_url }}">
          {{ post.title }}
        </a>
      </h3>
      <p class="summary"><a href="{{ post.url() }}">{{ post.abstract_content }}</a></p>
      <div class="meta">
        {{ post.orig_url }}
        <span>
          <i class="iconfont toutiao-comment-o"></i>
        </span>
      </div>
    </div>

<div class="user-info">
  <div class="user-avatar">
    <a title="{{ author.name }} - 开发者头条" href="">
      <img width="32" alt="{{ author.name }} - 独家号" src="{{ author.avatar_path }}">
    </a>
  </div>

  <div class="info">
    <h5>作者</h5>

    <a href="/u/200993"><img width="48" alt="{{ author.name }} - 开发者头条" src="{{ author.avatar_path }}"></a>

    <h4 class="m-b-xs">{{ author.name }}</h4>

    <p class="bio">{{ author.bio }}</p>

    <a class="btn btn-info btn-xs follow-200993" data-disable-with="请稍候..." data-remote="true" rel="nofollow" data-method="post" href="">
      <i class="fa fa-eye"></i> 关注TA
    </a>
  </div>
</div>

<div class="subject-name">
  <a href="">{{ author.name }}</a></div>

  </div>

{% endmacro %}


{% macro render_pagination(pagination, endpoint, identifier) %}
<nav aria-label="...">
  <ul class="pagination">
    {% if pagination.has_prev %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.prev_num, identifier=identifier) }}">Prev &laquo;</a>
    </li>
    {% endif %}

    {%- for page in pagination.iter_pages() %}
    {% if page %}
      <li class="page-item {% if page == pagination.page %}active{% endif %}">
        <a class="page-link" href="{{ url_for(endpoint, page=page, identifier=identifier) }}">{{ page }}</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">...</a>
      </li>
    {% endif %}
    {%- endfor %}

    {% if pagination.has_next %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for(endpoint, page=pagination.next_num, identifier=identifier) }}">Next &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}