{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}搜索 - 头条{% endblock %}


{% block content %}
<form action="/search" accept-charset="UTF-8" method="get" _lpchecked="1">
    <div class="input-group">
        <input type="text" name="q" id="q" value="{{query}}" class="form-control" placeholder="搜索 Python">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default search" style="border-left: unset">
                <i class="iconfont icon-search"></i>
            </button>
        </span>
    </div>
</form>
<div class="post-tags">
    {% for tag in tags %}
    <a class="btn btn-default btn-rounded btn-xs" href="{{ tag.url() }}">{{ tag.name }}</a>
    {% endfor %}
</div>

{% for post in posts.items %}
{{ macros.card(post) }}
{% endfor %}
{{ macros.render_pagination(posts, 'index.search', q=query) }}
{% endblock %}